<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072176325931-uas9rjalu3po2nrps6824l3p3b00685c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072176325931-uas9rjalu3po2nrps6824l3p3b00685c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072176325931-gd2ono1hmlr6s03lta5phr8g61id44rc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAUSM7he0yIY5o7MGeo86gJuT84LKI3Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>1072176325931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oilapp</string>
	<key>PROJECT_ID</key>
	<string>oildatabase-781a4</string>
	<key>STORAGE_BUCKET</key>
	<string>oildatabase-781a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072176325931:ios:d2e772445c1b5d9a31116e</string>
</dict>
</plist>